body{
    background-color: rgb(128, 128, 128);
}
.container{
    width:800px;
    margin: 100px auto;
}
@font-face {
    font-family: sriracha;
    src: url(../fonts/Sriracha-Regular.ttf);
}
.container h1{
    font-family: 'sriracha' , 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
}
.container p{
    font-family: Sriracha , Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    color:white;
}