@font-face {
  font-family: acme;
  src: url(../fonts/Acme-Regular.ttf);
}
body {
  background-color: black;
}
.box {
  width: 270px;
  height: 320px;
  margin: 50px auto 0;
  border: 2px solid hidden;
  background-color: white;
  transition: all 0.5s linear;
}
.box-header {
  color: black;
  text-align: center;
  font-family: acme;
  font-size: 25px;
  padding-top: 10px;
}
.box-paragraph {
  color: black;
  text-align: justify;
  font-family: acme;
  padding: 0 30px;
}
.box-button {
  display: inline-block;
  font-family: acme;
  color: black;
  text-align: center;
  border: 3px solid black;
  border-radius: 30px;
  margin: 3px 0 5px 80px;
  padding: 0 30px;
  text-decoration: none;
  transition: all 0.5s linear;
}

/*section-hover*/
.box:hover {
  background-image: linear-gradient(to top, #b069b8, #4568d9);
  margin-top: 100px;
  transition: all 1s linear;
}
.box-paragraph:hover {
  color: white;
}
.box-button:hover {
  padding: 0 50px;
  margin-left: 65px;
  color: white;
  border: 3px solid hidden;
  background-image: linear-gradient(to top, #033d7f, #190c45);
  cursor: pointer;
  transition: all 1s linear;
}
