@font-face {
    font-family: kalam;
    src: url(../fonts/Kalam-Bold.ttf);
}
@font-face {
    font-family: acme;
    src: url(../fonts/Acme-Regular.ttf);
}
body{
    background-color: black;
}
.container{
    width: 20%;
    height: 40%;
    margin: 50px auto 0;
    border: 2px solid hidden;
    background-color: white;
    transition: margin 1s ease-in;
}
.container h1{
    color : black;
    text-align: center;
    font-family: kalam;
    font-size: 20px;
}
.container p{
    color : black;
    text-align: justify;
    font-family: acme;
    padding: 0px 20px;
}
.container a{
    display: inline-block;
    font-family:Macondo;
    color:black;
    text-align: center;
    border:3px solid black;
    border-radius: 30px;
    margin: 50px 80px;
    padding:0px 25px;
    text-decoration: none;
    transition: padding 0.5s ease-in-out;
}
.container:hover{
    background-image: linear-gradient(to top, #b069b8 , #4568d9 );
    margin:100px auto 0;
}
.container:hover p{
     color:white;
}
.container a:hover{
    font-family: kalam;
    color:white; 
    border:3px solid white; 
    margin: 50px 70px;   
    padding: 0 40px;
    background-image:linear-gradient(to top, #033d7f , #190c45);
}
