@font-face {
    font-family:agbalumo;
    src: url(../font/Agbalumo-Regular.ttf);
}
body{
    margin:0;
    background-image: radial-gradient(circle at top right , #45286c , #5388a8 , #2f7475);
    width: 100%;
    height: 100vh;
}
.container{
    margin:100px auto;
    width: 50%;
}
caption{
    color:white;
    font-family: agbalumo;
    word-spacing: 6px;
}
table{
    border-collapse: collapse;
    border : 1px solid hidden;
    box-shadow: -3px 3px 5px #617a97 , 3px 0 5px #617a97;
    width: 100%;
}
th , td {
    border : 1px solid #617a97;
    padding: 10px 20px;
    text-align: center;
    color : white;
}
th {
    background-color: #3e6891;
}
td{
    background-color: #637f9e;
}
td:hover{
    background-image: linear-gradient(to top, #666b9b ,#5c90aa);
}
