@font-face {
    font-family:farsi ;
    src: url(../font/Far_Beirut.ttf);
}
@font-face {
    font-family: arvo;
    src: url(../font/Arvo-Bold.ttf);
    src:url(../font/Arvo-BoldItalic.ttf);
    src:url(../font/Arvo-Italic.ttf);
    src:url(../font/Arvo-Regular.ttf);
}
.container{
    width: 500px;
    height:600px;
    background-image: linear-gradient(to right , rgb(248, 180, 248) , rgb(228, 228, 168) , rgb(240, 170, 182) );
    border:2px solid black;
    box-shadow: 10px -5px 20px  rgb(173, 73, 82);
    margin:100px auto;
}
.container p{
    color : rgb(24, 24, 117);
    font-family: arvo;
    font-size: 16px;
    text-align: justify;
    text-align-last: center;
    text-transform: capitalize;
    text-indent: 50px;
    word-spacing: -2px;
    line-height: 150%;
    text-shadow: 5px -3px 10px green;
    padding: 30px;
}
.container h1{
    color:rgb(6, 36, 36);
    font-size: 40px;
    font-family: farsi;
    text-align: center;
}
.container h2{
    color:rgb(236, 120, 11);
    font-size: 30px;
    font-family: Kalam;
    text-align: center;
}