body{
    background: linear-gradient(to top , rgb(125, 158, 125) 0% , rgb(119, 119, 190) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 793px;
    margin: 0%;  
}

.container{
    width:450px;
    height:450px;
    border:2px solid white;
    border-radius: 20px;
    margin-left: 480px;
    margin-top: 183px;
    background-image: url(../image/286260.jpg);
    background-size: 450px 450px;
    background-position: center;
}
.styletest{
    text-align: center;
    color:white;
    margin-top: 200px;
}