.all{
    background-color: rgb(175, 175, 122);

}
.container{
    border: 20px solid rgb(17, 17, 75);
    background-color: aqua;
    margin:10px;
    padding:5px;
    outline: 20px solid yellow;
    width: 250px;
    height: 350px;
    box-sizing: border-box;    
}

.hvsp{
    background-color: white;
    margin:0%;
    text-align: center; 
    padding: 5px;
}
