body{
    background-color: #008b8b;
}
.container{
    background-color: white;
    width: 20%;
    height: 60%;
    border: 20px solid black;
    outline: 10px solid #3a3a3a;
    margin: 50px auto 0;
}
.minicontainer{
    background-color: #008b8b;
    margin: 20px;
}
.minicontainer h1{
    text-align: center;
}
.minicontainer p{
    text-align:left;
    font-size: 13px;
}
