* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: darksalmon;
  color: white;
}
.box {
  width: 700px;
  height: 100px;
  margin: 80px auto;
  background-color: #808080;
  border: 5px solid #7cffff;
}
.first-paragraph {
  text-align: center;
  padding-top: 20px;
}
.second-paragraph {
  width: 280px;
  position: relative;
  left: 220px;
  top: 20px;
}
.third-paragraph {
  text-align: center;
  line-height: 55px;
}
.fourth-paragraph {
  transform: translate(220px, 20px);
}
