@font-face {
    font-family: dancing;
    src: url(../font/DancingScript-VariableFont_wght.ttf);
}
body{
    margin:0;
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width:250px;
    height:330px;
    margin:150px auto;   
    backdrop-filter: blur(15px);
    border:2px solid hidden;
    border-radius: 15px;
}
.box-img{
    width:250px;
    height: 170px;
    border:1px solid hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 0px;
}
.box-header , .box-paraghraph{
    text-align: center;
    color:black;
    font-family: dancing;
}
.box-icone{
    font-size: 25px;
    padding:0 10px 10px 10px;
    margin-bottom: 10px;
}
.instagram{
    margin-left:56px ;
}
.box-button{
    border:1px solid hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color:white;
    background-color: black;
    text-align: center;
    padding: 5px 0px;
    margin-top: -10px;
}

/**hover section**/
.box-icone:hover{
    color:grey;
    cursor: pointer;
}
.box-button:hover{
    background-color: gray;
    color : black;
    cursor: pointer;
}